.story-model-container {
  border-radius: 10px;
  margin: 30px 40px; //

  .story-model-details-section {
    margin: 15px;

    .story-model-details-section-top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 15px 0 0 0;
      margin: 0 0 10px 0;

      .story-model-name-section {
        width: 620px; //width: 520px;

        .single-story-model-link {
          text-decoration: none;

          h2 {
            font-weight: bold;
          }
        }
      }
      .story-model-action-section {
        display: flex;
        margin: 10px 0 0;

        .story-model-action-icon-link {
          text-decoration: none;
        }

        .story-model-invisible-button {
          border: none;
          background: none;
          padding: 0;
          cursor: pointer;
        }
      }
    }

    .story-model-story-id-section {
      margin: 0 0 15px 0;
      //width: 440px; // width: 580px;
      span {
        b {
        }
      }
    }
    .story-model-priority {
      margin: 0 0 10px 0;
      text-align: center;

      span {
        b {
        }
      }
    }
    .story-model-status {
      margin: 0 0 15px 0;
      text-align: center;
      span {
        b {
        }
      }
    }
    .story-model-owner-id-section {
      margin: 0 0 10px 0;
      width: 580px;
      span {
        b {
        }
      }
    }
  }
  .story-model-content-section {
    margin: 0 10px 10px 10px;
    //width: 440px; //width: 580px;
    // text-align: justify;
    p {
    }
  }

  .story-model-date-of-creation-section {
    position: relative;
    left: 570px;
    padding: 0 0 10px 0;
    span {
    }
  }
}

#light .story-model-container {
  color: black;
  background-color: #f3f0e8;

  .single-story-model-link {
    color: black;

    &:active {
      cursor: pointer;
      color: rgb(77, 77, 77);
      transition: 0.4s ease, border-bottom 0ms, padding-top 0ms;
    }
  }
  .story-model-action-icon-link {
    color: black;
  }

  .story-model-invisible-button {
    color: black;
  }
}

#dark .story-model-container {
  color: white;
  background-color: #141414;

  .single-story-model-link {
    color: white;

    &:active {
      cursor: pointer;
      color: rgb(171, 171, 171);
      transition: 0.4s ease, border-bottom 0ms, padding-top 0ms;
    }
  }

  .story-model-action-icon-link {
    color: rgb(49, 130, 188);
  }

  .story-model-invisible-button {
    color: rgb(231, 40, 40);
  }
}
