.task-container {
  border-radius: 10px;
  padding: 10px 25px;

  .task {
    .teg-task {
      h3 {
        text-align: center;
      }
    }
    .desc-task {
      p {
        text-align: center;
        font-size: small;
      }
    }
  }
}

#light .task-container {
  .task {
    .teg-task {
    }
    .desc-task {
    }
  }
}

#dark .task-container {
  background-color: #141414;
  color: white;
  .task {
    .teg-task {
    }
    .desc-task {
    }
  }
}
