@import url("../../../Style/RootStyle/RootIcon/RootDeleteIcon/RootDeleteIcon.css");

.delete-icon-section {
  .delete-icon {
    width: 25px;
    height: 25px;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    cursor: pointer;
  }
}

#light .delete-icon {
  &:hover {
    color: var(--light-color-hover-for-delete-i);
  }

  &:active {
    color: var(--light-color-active-for-delete-i);
    transition: 0.4s ease, border-bottom 0ms, padding-top 0ms;
  }
}

#dark .delete-icon {
  &:hover {
    color: var(--dark-color-hover-for-delete-i);
  }

  &:active {
    color: var(--dark-color-active-for-delete-i);
    transition: 0.4s ease, border-bottom 0ms, padding-top 0ms;
  }
}
