@import url("../../../Style/RootStyle/RootButton/RootEditButton/RootEditButton.css");

.edit-btn-for-edit-page {
  width: 15%;
  padding: 11px;
  border-radius: 6px;
  border: none;
  transition: 0.3s;
  font-size: 300;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }
}

#light .eedit-btn-for-edit-page {
  color: var(--light-color-for-edit-btn);
  background-color: var(--light-background-color-for-edit-btn);

  &:hover {
    color: var(--light-color-hover-for-edit-btn);
    background-color: var(--light-background-color-hover-for-edit-btn);
  }
}

#dark .edit-btn-for-edit-page {
  color: var(--dark-color-for-edit-btn);
  background-color: var(--dark-background-color-for-edit-btn);

  &:hover {
    color: var(--dark-color-hover-for-edit-btn);
    background-color: var(--dark-background-color-hover-for-edit-btn);
  }
}
