.create-btn-story {
  width: 15%;
  padding: 11px;
  border-radius: 6px;
  border: none;
  transition: 0.3s;
  font-size: 300;
  font-weight: bold;

  color: white;
  background-color: rgb(0, 0, 0);

  &:hover {
    cursor: pointer;
    background-color: rgb(59, 213, 85);
    color: rgb(255, 255, 255);
  }
}

#light .create-btn-story {
  color: white;
  background-color: rgb(0, 0, 0);

  &:hover {
    background-color: rgb(39, 172, 61);
    color: rgb(255, 255, 255);
  }
}

#dark .create-btn-story {
  color: black;
  background-color: rgb(39, 172, 61);

  &:hover {
    background-color: rgb(59, 213, 85);
    color: black;
  }
}
