* {
  margin: 0;
  padding: 0;
}

.login-page {
  height: 100vh;
  display: flex;
  align-items: center; //verticaly
  justify-content: center; //horizontal

  .common-card {
    display: flex;
    width: 70%;
    min-height: 400px;

    .left-side {
      flex: 1;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      h1 {
        font-size: 60px;
      }

      .list {
        h4 {
          margin-bottom: 12px;
        }

        ul {
          li {
            margin-top: 5px;
            margin-left: 13px;
          }
        }
      }
      span {
        font-size: 14px;
      }
    }
    .right-side {
      flex: 1;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      h1 {
        font-size: 40px;
        font-weight: 750;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          padding: 20px 10px;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

#light .login-page {
  color: black;
  background-color: rgb(255, 255, 255);

  input {
    color: black;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid lightgray;
  }
}

#dark .login-page {
  color: white;
  background-color: rgb(13, 13, 13);

  input {
    color: white;
    background-color: rgb(13, 13, 13);
    border-bottom: 1px solid darkgray;
  }
}
