.home-page {
  display: flex;
  flex: 0.8;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .search-for-projects {
    margin: 20px 0;
    width: 80vw;
  }

  .project {
    width: 80vw; //Temporarily
    padding: 0 0 15vh 0;
  }

  //Temporarily
  // .a-margin-top {
  //   //margin-top: 40px;
  // }

  .d-flex {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;
  }
}
