@import url("../../../Style/RootStyle/RootIcon/RootEditIcon/RootEditIcon.css");

.edit-icon-section {
  .icon {
    width: 25px;
    height: 25px;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    cursor: pointer;
  }
}

#light .edit-icon {
  &:hover {
    color: var(--light-color-hover-for-edit-i);
  }

  &:active {
    color: var(--light-color-active-for-edit-i);
    transition: 0.4s ease, border-bottom 0ms, padding-top 0ms;
  }
}

#dark .edit-icon {
  &:hover {
    color: var(--dark-color-hover-for-edit-i);
  }

  &:active {
    color: var(--dark-color-active-for-edit-i);
    transition: 0.4s ease, border-bottom 0ms, padding-top 0ms;
  }
}
