@import url("../../../Style/RootStyle//RootButton/RootCancelButton/RootCancelButton.css");

.cancel-btn-for-new-story-model {
  width: 20%;
  padding: 6px;
  border-radius: 6px;
  border: none;
  transition: 0.3s;
  font-size: 100;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }
}

#light .cancel-btn-for-new-story-model {
  color: var(--light-color-for-cancel-btn);
  background-color: var(--light-background-color-for-cancel-btn);

  &:hover {
    color: var(--light-color-hover-for-cancel-btn);
    background-color: var(--light-background-color-hover-for-cancel-btn);
  }
}

#dark .cancel-btn {
  color: var(--dark-color-for-cancel-btn);
  background-color: var(--dark-background-color-for-cancel-btn);

  &:hover {
    color: var(--dark-color-hover-for-cancel-btn);
    background-color: var(--dark-background-color-hover-for-cancel-btn);
  }
}
