@import url("../../../Style/RootStyle/RootButton/RootLogInButton/RootLogInButton.css");

.log-in-btn-for-register-page {
  width: 10%;
  padding: 5px;
  border-radius: 6px;
  border: none;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background-color: rgb(59, 157, 213);
    color: rgb(255, 255, 255);
  }
}

#light .log-in-btn-for-register-page {
  color: var(--light-color-for-log-in-btn);
  background-color: var(--light-background-color-for-log-in-btn);

  &:hover {
    color: var(--light-color-hover-for-log-in-btn);
    background-color: var(--light-background-color-hover-for-log-in-btn);
  }
}

#dark .log-in-btn-for-register-page {
  color: var(--dark-color-for-log-in-btn);
  background-color: var(--dark-background-color-for-log-in-btn);

  &:hover {
    color: var(--dark-color-hover-for-log-in-btn);
    background-color: var(--dark-background-color-hover-for-log-in-btn);
  }
}
