@import url("../../../Style//RootStyle/RootButton/RootSingUpButton/RootSingUpButton.css");

.sing-up-btn-for-login-page {
  width: 30%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
  }
}

#light .sing-up-btn-for-login-page {
  color: var(--light-color-for-sing-up-btn);
  background-color: var(--light-background-color-for-sing-up-btn);

  &:hover {
    color: var(--light-color-hover-for-sing-up-btn);
    background-color: var(--light-background-color-hover-for-sing-up-btn);
  }
}

#dark .sing-up-btn-for-login-page {
  color: var(--dark-color-for-sing-up-btn);
  background-color: var(--dark-background-color-for-sing-up-btn);

  &:hover {
    color: var(--dark-color-hover-for-sing-up-btn);
    background-color: var(--dark--background-color-hover-for-sing-up-btn);
  }
}
