@import url("../../../Style/RootStyle/RootLayout/RootLayout.css");

* {
  margin: 0;
  padding: 0;
}

.left-bar {
  flex: 1.5;
  position: sticky;
  top: 0px;
  height: calc(100vh - 0px);

  .container {
    padding: 20px;

    .menu {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .left-bar-link {
        text-decoration: none;
      }

      .left-bar-link:last-child {
        margin-top: 300px;
      }
    }
  }
}

#light .left-bar {
  background-color: var(--light-background-color-for-left-bar);

  .left-bar-link {
    color: var(--light-color-for-left-bar-link);
  }

  .link-hover {
    &:hover {
      color: var(--light-color-hover-for-left-bar);
      transition: 0s ease, border-bottom 0ms, padding-top 0ms;
    }
  }
}

#dark .left-bar {
  background-color: var(--dark-background-color-for-left-bar);
  box-shadow: 0px 0px 22px -12px rgb(255, 255, 255);

  .left-bar-link {
    color: var(--dark-color-for-left-bar-link);
  }

  .link-hover {
    &:hover {
      color: var(--dark-color-hover-for-left-bar);
      transition: 0s ease, border-bottom 0ms, padding-top 0ms;
    }
  }
}
