* {
  margin: 0;
  padding: 0;
}

.left-bar {
  flex: 1.5; //2
  position: sticky;
  top: 0px;
  height: calc(100vh - 0px);

  .container {
    padding: 20px;

    .menu {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .left-bar-link {
        text-decoration: none;
      }

      .left-bar-link:last-child {
        margin-top: 300px;
      }
    }
  }
}

#light .left-bar {
  background-color: white;
  .left-bar-link {
    color: black;
  }

  .link-hover {
    &:hover {
      color: rgb(77, 77, 77);
      transition: 0s ease, border-bottom 0ms, padding-top 0ms;
    }
  }
}

#dark .left-bar {
  background-color: black;
  box-shadow: 0px 0px 22px -12px rgb(255, 255, 255);
  .left-bar-link {
    color: white;
  }

  .link-hover {
    &:hover {
      color: rgb(171, 171, 171);
      transition: 0s ease, border-bottom 0ms, padding-top 0ms;
    }
  }
}
