.task-dialog-container {
  //padding: 0 100px 0 100px; //DON'T WORK!!!

  .task-dialog-title {
    padding: 10px 190px 10px;
    font-weight: bold;
  }
  .task-dialog-form {
    .task-dialog-desc {
      color: black;//TEMPORARILY
      padding: 10px 0 10px;
    }
    .task-dialog-priority {
      color: black;//TEMPORARILY
      padding: 5px 0 5px;
    }
    .task-dialog-status {
      color: black;//TEMPORARILY
      padding: 5px 0 5px;
    }
  }
  .task-dialog-action {
  }
}

#light .task-dialog-container {
  background-color: #f3f0e8;
  color: black;

  .task-dialog-title {
  }
  .task-dialog-form {
    .task-dialog-desc {
    }
    .task-dialog-priority {
    }
    .task-dialog-status {
    }
  }
  .task-dialog-action {
  }
}

#dark .task-dialog-container {
  background-color: #141414;
  color: white;

  .task-dialog-title {
  }
  .task-dialog-form {
    .task-dialog-desc {
    }
    .task-dialog-priority {
    }
    .task-dialog-status {
    }
  }
  .task-dialog-action {
  }
}
