.settings-page {
  display: flex;
  flex: 0.8;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px 0px 100px 0px;

  .settings-section {
    width: 30vw;
    padding-top: 15vh;
    padding-bottom: 15vh;
    padding: 40px 0 40px 0;
    background-color: white;
    border-radius: 10px;

    h2 {
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: center;

      .setting-icon {
        margin-left: 0.5rem;
        width: 35px;
        height: 35px;
      }
    }

    .dark-mode-section {
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: larger;
      margin-top: 40px;

      .switch {
        margin-left: 0.5vw;
      }
    }
  }
}

#light .settings-page {
  color: black;
  .settings-section {
    background-color: white;
  }
}

#dark .settings-page {
  color: white;
  .settings-section {
    border: 1px rgba(255, 255, 255, 0.248) solid;
    background-color: black;
    box-shadow: 0px 0px 22px -12px rgb(255, 255, 255);
  }
}
