.project-model-container {
  //padding: 100px 300px; //30px 100px 30px 100px;;
  background-color: white;
  border-radius: 10px;

  .details-section {
    margin: 10px;

    .details-section-top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .name-section {
        width: 520px;

        h2 {
          font-size: larger;
          font-weight: bold;
        }
      }
      .action-section {
        display: flex;

        .action-icon-link {
          color: black;
          text-decoration: none;
        }
        .invisible-button {
          border: none;
          background: none;
          padding: 0;
          cursor: pointer;
        }
      }
    }

    .id-section {
      width: 580px;
    }
  }

  .content-section {
    margin: 10px;
    width: 580px;
  }
}
