@import url("../../../Style/RootStyle/RootButton/RootLogInButton/RootLogInButton.css");

.log-in-btn-for-login-page {
  width: 40%;
  padding: 15px;
  border-radius: 6px;
  border: none;
  transition: 0.3s;
  font-size: medium;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }
}

#light .log-in-btn-for-login-page {
  color: var(--light-color-for-log-in-btn);
  background-color: var(--light-background-color-for-log-in-btn);

  &:hover {
    color: var(--light-color-hover-for-log-in-btn);
    background-color: var(--light-background-color-hover-for-log-in-btn);
  }
}

#dark .log-in-btn-for-login-page {
  color: var(--dark-color-for-log-in-btn);
  background-color: var(--dark-background-color-for-log-in-btn);

  &:hover {
    color: var(--dark-color-hover-for-log-in-btn);
    background-color: var(--dark-background-color-hover-for-log-in-btn);
  }
}
