.log-in-btn-for-login-page {
  width: 40%;
  padding: 15px;
  border-radius: 6px;
  border: none;
  transition: 0.3s;
  font-size: medium;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }
}

#light .log-in-btn-for-login-page {
  color: white;
  background-color: rgb(0, 0, 0);

  &:hover {
    background-color: rgb(59, 108, 213);
    color: rgb(255, 255, 255);
  }
}

#dark .log-in-btn-for-login-page {
  color: black;
  background-color: rgb(59, 108, 213);

  &:hover {
    background-color: rgb(91, 150, 227);
    color: black;
  }
}
