.edit-icon-section {
  .icon {
    width: 25px;
    height: 25px;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    cursor: pointer;
  }
}

#light .edit-icon {
  &:hover {
    color: black;
  }

  &:active {
    color: rgb(48, 48, 172);
    transition: 0.4s ease, border-bottom 0ms, padding-top 0ms;
  }
}

#dark .edit-icon {
  &:hover {
    color: rgb(49, 130, 188);
  }

  &:active {
    color: rgb(60, 216, 237);
    transition: 0.4s ease, border-bottom 0ms, padding-top 0ms;
  }
}
