@import url("../../Style/RootStyle/RootLogin&Register/RootLogin&Register.css");

* {
  margin: 0;
  padding: 0;
}
.register-page {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 4vh;
  padding-bottom: 17.8vh; //5vh;;

  .common-card {
    display: flex;

    .main-contener {
      margin: 0 auto;
      width: 50vw;
      display: flex;
      flex-direction: column;
      gap: 15px;

      .page-name {
        font-size: 50px;
        font-weight: 750;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          padding: 20px 10px;

          &:focus {
            outline: none;
          }
        }
      }
      span {
        font-size: 16px;
        margin-top: 2.5vh;
        // &:hover {
        //   cursor: pointer;
        //   color: rgb(59, 157, 213);
        // }
      }
    }
  }
}

#light .register-page {
  background-color: var(--light-background-color-for-login-And-register-page);
  color: var(--light-color-for-login-And-register-page);
  
  input {
    background-color: var(--light-background-color-for-input);
    color: var(--light-color-for-input);
    border-bottom: 1px solid var(--light-color-for-border-bottom);
  }
}

#dark .register-page {
  background-color: var(--dark-background-color-for-login-And-register-page);
  color: var(--dark-color-for-login-And-register-page);
  
  input {
    background-color: var(--dark-background-color-for-input);
    color: var(--dark-color-for-input);
    border-bottom: 1px solid var(--dark-color-for-border-bottom);
  }
}
